// Path to Bulma's sass folder with customizations
@use "bulma/sass" with (
  // Colors
  $primary: #3273dc,
  $link: #1a4b84,
  $info: #85b7ff,
  $danger: rgba(189, 59, 59, 0.8),
  $grey-dark: #757575,
  $grey-light: #eef3fc,

  // Typography
  $family-primary: '"Nunito", sans-serif',

  // Form elements
  $control-border-width: 2px,
  $input-shadow: none,

  // Background
  $body-background-color: #eef3fc
);

// Import the Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Add any additional custom styles below
.button.is-danger {
  opacity: 0.9;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.title.is-2 {
  color: #1a4b84 !important;
}

